    <div id="header">
        <div id="header-image">
            <img src="{{ .Site.BaseURL }}/{{ .Site.Params.headerImage }}" alt="some text">
        </div>

        <div id="navbar">
            {{ range .Site.RegularPages }}
                {{ if eq .Type "page" }}
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                {{ end }}
            {{ end }}

            <a href="{{ .Site.BaseURL }}">home</a>
        </div>

        <div id="title">
            {{ .Site.Params.headerTitle }}
        </div>

        <div id="subtitle">
            {{ .Site.Params.headerSubtitle }}
        </div>
    </div>
